# Selecting Subsets of Data from DataFrames with `loc`

In this chapter, we use the `loc` indexer to select subsets of data from DataFrames. The `loc` indexer selects data in a different manner than *just the brackets*. 
## Simultaneous row and column subset selection

The `loc` indexer can select rows and columns simultaneously.  This is done by separating the row and column selections with a **comma**. The selection will look something like this:

```python
df.loc[rows, cols]
```

### `loc` primarily selects data by label

`loc` primarily selects subsets by the **label** of the rows and columns. It also makes selections via boolean selection.

In [1]:
import pandas as pd

# first column set as the index.
df = pd.read_csv('sample_data.csv', index_col=0)
df

          state  color    food  age  height  score
name
Jane         NY   blue   Steak   30     165    4.6
Niko         TX  green    Lamb    2      70    8.3
Aaron        FL    red   Mango   12     120    9.0
Penelope     AL  white   Apple    4      80    3.3
Dean         AK   gray  Cheese   32     180    1.8
Christina    TX  black   Melon   33     172    9.5
Cornelia     TX    red   Beans   69     150    2.2

### Select two rows and three columns with `loc`

Let's make our first selection with `loc` by simultaneously selecting some rows and some columns. Let's select the rows `Dean` and `Cornelia` along with the columns `age`, `state`, and `score`. A list is used to contain both the row and column selections before being placed within the brackets following `loc`. Row and column selection must be separated by a comma.

In [2]:
rows = ['Dean', 'Cornelia']
cols = ['age', 'state', 'score']
df.loc[rows, cols]

          age state  score
name
Dean       32    AK    1.8
Cornelia   69    TX    2.2

### The possible types of row and column selections

In the above example, we used a list of labels for both the row and column selection. You are not limited to just lists. All of the following are valid objects available for both row and column selections with `loc`.

* A single label
* A list of labels
* A slice with labels
* A boolean Series 

### Select two rows and a single column

Let's select the rows `Aaron` and `Dean` along with the `food` column. We can use a list for the row selection and a single string for the column selection.
In this example, a Series and not a DataFrame was returned. Whenever you select a single row or a single column using a string label, pandas returns a Series.

In [3]:
rows = ['Dean', 'Aaron']
cols = 'food'
df.loc[rows, cols]

name
Dean     Cheese
Aaron     Mango
Name: food, dtype: object

## `loc` with slice notation

Let's take a moment to review Python's slice notation, which is used to select subsets from some core Python objects such as lists, tuples, and strings. Slice notation always has three components - the **start**, **stop**, and **step**. Syntactically, each component is separated by a colon like this - `start:stop:step`. All components of slice notation are optional and not necessary to include. Each has a default value if not included in the notation. The start component defaults to the beginning, the stop defaults to the end, and the step size to 1.

### Example slices

Let's take a look at several slice notations and the value of each component of the slice.

* `'Niko':'Christina':2` - start is 'Niko', stop is 'Christina', step is 2
* `'Niko':'Christina'` - start is 'Niko', stop is 'Christina', step is 1
* `'Niko'::2` - start is 'Niko', stop is the end', step is 2
* `'Niko':` - start is 'Niko', stop is the end, step is 1
* `:'Christina':2` - start is the beginning, stop is 'Christina', step is 2
* `:` - start is the beginning, stop is the end, step is 1. All components take their default value.

This same slice notation is allowed within the `loc` indexer. Let's select all of the rows from `Jane` to `Penelope` with slice notation along with the columns `state` and `color`.

Slice notation with the `loc` indexer includes the stop label. This behaves differently than slicing done on Python lists, which is exclusive of the stop integer.

In [4]:
cols = ['state', 'color']
df.loc['Jane':'Penelope', cols]

         state  color
name
Jane        NY   blue
Niko        TX  green
Aaron       FL    red
Penelope    AL  white

### Slice both the rows and columns

Both row and column selections support slice notation. In the following example, we slice all the rows from the beginning up to and including label `Dean` along with columns from `height` until the end.

In [6]:
df.loc[:'Dean', 'height':]

          height  score
name
Jane         165    4.6
Niko          70    8.3
Aaron        120    9.0
Penelope      80    3.3
Dean         180    1.8

### Selecting all of the rows and some of the columns

It is possible to use slice notation to select all of rows or columns. We do so with a single colon, which is sometimes referred to as the **empty slice**. In this example, we select all of the rows and two of the columns.

In [7]:
cols = ['food', 'color']
df.loc[:, cols]

             food  color
name
Jane        Steak   blue
Niko         Lamb  green
Aaron       Mango    red
Penelope    Apple  white
Dean       Cheese   gray
Christina   Melon  black
Cornelia    Beans    red

### Use a single colon to select all the columns

It is possible to use a single colon to represent a slice of all of the rows or all of the columns. Below, a colon is used as slice notation for all of the columns. That single colon might be intimidating, but it is technically slice notation that selects all items. In the following example, all of the elements of a Python list are selected using a single colon.

In [10]:
rows = ['Penelope','Cornelia']
df.loc[rows, :]

         state  color   food  age  height  score
name
Penelope    AL  white  Apple    4      80    3.3
Cornelia    TX    red  Beans   69     150    2.2

### Changing the step size

The step size must be an integer when using slice notation with `loc`. In this example, we select every other row beginning at `Niko` and ending at `Christina`.

In [12]:
df.loc['Niko':'Christina':2, :]

          state  color   food  age  height  score
name
Niko         TX  green   Lamb    2      70    8.3
Penelope     AL  white  Apple    4      80    3.3
Christina    TX  black  Melon   33     172    9.5

### Select a single row and a single column

If the row and column selections are both a single label, then a scalar value and NOT a DataFrame or Series is returned.

In [13]:
rows = 'Jane'
cols = 'state'
df.loc[rows, cols]

'NY'

### Select a single row as a Series with `loc`

The `loc` indexer returns a single row as a Series when given a single row label. Let's select the row for `Niko`. Notice that the column names have now become index labels.

In [14]:
df.loc['Niko']

state        TX
color     green
food       Lamb
age           2
height       70
score       8.3
Name: Niko, dtype: object

### Confusing output

This output is potentially confusing. The original row that was labeled by `Niko` had horizontal data. Selecting a single row returns a Series that displays the row data vertically.

### Selecting a single row as a DataFrame

It is possible to select a single row as a DataFrame instead of a Series. Create the row selection as a one-item list instead of just a string label. The returned result is a DataFrame and maintains the same horizontal position for the row.

In [16]:
rows = ['Niko']
df.loc[rows, :]

     state  color  food  age  height  score
name
Niko    TX  green  Lamb    2      70    8.3